#
# Coherent Accelerator Processor Interface compatible devices
#

config CXL
	tristate "Support for CAIA compliant accelerators"
	depends on PPC_POWERNV || PPC_PSERIES
	default m
	help
	  Select this option to enable support for adapters that follow the
	  Coherent Accelerator Interface Architecture (CAIA).

config CXL_PCI
	tristate "Support for CXL devices via PCI"
	depends on CXL && PPC_POWERNV
	default y
	help
	  Select this option to support CXL devices detected via PCI, e.g.
	  when running under Sapphire. This has no effect on CXL devices
	  detected via the device tree, such as when running under PowerVM.

config CXL_OF
	tristate "Support for CXL devices on PowerVM"
	depends on CXL
	default y
	help
	  Select this option to support CXL devices detected via the device
	  tree, such as when running under PowerVM.
